flows.json
[{"id":"9c16bfab.9851e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee97517c.bb899","type":"inject","z":"9c16bfab.9851e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["652c7f2a.7fd2f","5e4f2633.0455c8","c33a8dc.2ec777","41b53124.1709e","4796e046.5bf54"]]},{"id":"652c7f2a.7fd2f","type":"debug","z":"9c16bfab.9851e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":180,"wires":[]},{"id":"5e4f2633.0455c8","type":"debug","z":"9c16bfab.9851e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":300,"wires":[]},{"id":"c1040f1c.4feec","type":"function","z":"9c16bfab.9851e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["c33a8dc.2ec777","2226e81c.6f6a48"]]},{"id":"41b53124.1709e","type":"function","z":"9c16bfab.9851e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":480,"wires":[["c1040f1c.4feec"]]},{"id":"c33a8dc.2ec777","type":"debug","z":"9c16bfab.9851e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":420,"wires":[]},{"id":"2226e81c.6f6a48","type":"debug","z":"9c16bfab.9851e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":580,"wires":[]},{"id":"4796e046.5bf54","type":"debug","z":"9c16bfab.9851e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":300,"wires":[]}]