flows.json
[{"id":"9c16bfab.9851e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d0cd922f.6b08d","type":"inject","z":"9c16bfab.9851e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":225.5,"y":253,"wires":[["622d7f84.5dc12"]]},{"id":"2de7ff1e.cc04f","type":"debug","z":"9c16bfab.9851e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":765.5,"y":195,"wires":[]},{"id":"622d7f84.5dc12","type":"function","z":"9c16bfab.9851e","name":"","func":"\nreturn msg;\n\nsdfsdfsdf","outputs":1,"noerr":0,"x":454.5,"y":228,"wires":[["2de7ff1e.cc04f"]]}]